$verde: #0ab200;
$morado: #230043;
$blanco: #ffffff;
$gris: #120e15;

.login{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: $gris;
    background: linear-gradient(90deg, $morado 0%, $blanco 35%, $morado 100%);
}

#noerror{
    display: none;
}

.alerta{
   width: 40%;
   margin-left: 29%;
   margin-top: 1vh;
}

#enviar{
    color: white;
    background-color: $verde;
    border-color: orange;
    font-size: 10px;
    width: 40%;
    font-size: large;
    margin-top: 1vh;
}

#login_tit{
    margin-top: 15vh;

}

.standard-basic{
    width: 40%;
 }

 .login_form{
    height: max-content;
    min-height: 70vh;
    width: 60vw;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
}